     
        </div>

    </div>
    <!--//container-->
</div>
<!--//doc-wrapper-->

    </div>
    <!--//page-wrapper-->

    <div class="container-fuild" style="margin-top: 5px; margin-right: 50px">
        <div class="row" style="display: block">
            <legend></legend>
            <p style="text-align: center;"><b>Copyright © 2020 Mernjs Community. All Rights Reserved.</b></p>
        </div>
    </div>


     <!-- Main Javascript -->
    <script type="text/javascript" src="/assets/<%= version %>/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/assets/<%= version %>/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/<%= version %>/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="/assets/<%= version %>/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/assets/<%= version %>/plugins/stickyfill/dist/stickyfill.min.js"></script>
    <script type="text/javascript" src="/assets/<%= version %>/js/main.js"></script>

</body>

</html>