<div class="doc-sidebar col-md-2 col-12 order-0 d-none d-md-flex">
    <div id="doc-nav" class="doc-nav">
        <nav class="nav doc-menu flex-column sticky">
            <a class="nav-link" href="#examples-section">Getting Started</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'introduction' ? 'active' : '' %>" href="/docs/<%= version %>/introduction">Introduction</a>
                <a class="nav-link <%= nav.active == 'installation' ? 'active' : '' %>" href="/docs/<%= version %>/installation">Installation</a>
                <a class="nav-link <%= nav.active == 'directory-structure' ? 'active' : '' %>" href="/docs/<%= version %>/directory-structure">App Structure</a>
                <a class="nav-link <%= nav.active == 'deployment' ? 'active' : '' %>" href="/docs/<%= version %>/deployment">Deployment</a>
            </nav>
            
            <a class="nav-link" href="#examples-section">The Basic</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'routing' ? 'active' : '' %>" href="/docs/<%= version %>/routing">Routing</a>
                <a class="nav-link <%= nav.active == 'models' ? 'active' : '' %>" href="/docs/<%= version %>/models">Models</a>
                <a class="nav-link <%= nav.active == 'view' ? 'active' : '' %>" href="/docs/<%= version %>/view">View</a>
                <a class="nav-link <%= nav.active == 'controller' ? 'active' : '' %>" href="/docs/<%= version %>/controller">Controllers</a>
                <a class="nav-link <%= nav.active == 'request' ? 'active' : '' %>" href="/docs/<%= version %>/request">Request</a>
                <a class="nav-link <%= nav.active == 'response' ? 'active' : '' %>" href="/docs/<%= version %>/response">Response</a>
                <a class="nav-link <%= nav.active == 'middleware' ? 'active' : '' %>" href="/docs/<%= version %>/middleware">Middleware</a>
                <a class="nav-link <%= nav.active == 'session' ? 'active' : '' %>" href="/docs/<%= version %>/session">Session</a>
                <a class="nav-link <%= nav.active == 'cookie' ? 'active' : '' %>" href="/docs/<%= version %>/cookie">Cookie</a>
                <a class="nav-link <%= nav.active == 'validation' ? 'active' : '' %>" href="/docs/<%= version %>/validation">Validation</a>
                <a class="nav-link <%= nav.active == 'error-handling' ? 'active' : '' %>" href="/docs/<%= version %>/error-handling">Error Handling</a>
            </nav>

            <a class="nav-link" href="#examples-section">Frontend</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'ejs-template' ? 'active' : '' %>" href="/docs/<%= version %>/ejs-template">EJS Template</a>
                <a class="nav-link <%= nav.active == 'reactjs' ? 'active' : '' %>" href="/docs/<%= version %>/reactjs">ReactJs</a>
            </nav>

            <a class="nav-link" href="#examples-section">Security</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'authentication' ? 'active' : '' %>" href="/docs/<%= version %>/authentication">Authentication</a>
                <a class="nav-link <%= nav.active == 'api-authentication' ? 'active' : '' %>" href="/docs/<%= version %>/api-authentication">API Authentication</a>
            </nav>

            <a class="nav-link" href="#examples-section">Database</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'queries' ? 'active' : '' %>" href="/docs/<%= version %>/queries">Query Builder</a>
                <a class="nav-link <%= nav.active == 'pagination' ? 'active' : '' %>" href="/docs/<%= version %>/pagination">Pagination</a>
                <a class="nav-link <%= nav.active == 'migrations' ? 'active' : '' %>" href="/docs/<%= version %>/migrations">Migrations</a>
                <a class="nav-link <%= nav.active == 'seeding' ? 'active' : '' %>" href="/docs/<%= version %>/seeding">Seeding</a>
            </nav>

            <a class="nav-link" href="#examples-section">Eloquent ORM</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'one-to-one' ? 'active' : '' %>" href="/docs/<%= version %>/one-to-one">One To One</a>
                <a class="nav-link <%= nav.active == 'one-to-many' ? 'active' : '' %>" href="/docs/<%= version %>/one-to-many">One To Many</a>
                <a class="nav-link <%= nav.active == 'many-to-many' ? 'active' : '' %>" href="/docs/<%= version %>/many-to-many">Many To Many</a>
                <a class="nav-link <%= nav.active == 'has-one-through' ? 'active' : '' %>" href="/docs/<%= version %>/has-one-through">Has One Through</a>
                <a class="nav-link <%= nav.active == 'has-many-through' ? 'active' : '' %>" href="/docs/<%= version %>/has-many-through">Has Many Through</a>
            </nav>

            <a class="nav-link" href="#api-references-section">Reference</a>
            <nav class="doc-sub-menu nav flex-column">
                <a class="nav-link <%= nav.active == 'array' ? 'active' : '' %>" href="/docs/<%= version %>/array">Array Functions</a>
                <a class="nav-link <%= nav.active == 'mail' ? 'active' : '' %>" href="/docs/<%= version %>/mail">Mail Functions</a>
            </nav>
           
        </nav>
        <!--//doc-menu-->

    </div>
</div>